
<form (ngSubmit)="submitWar()">
  <fieldset>
    <app-tribe-choice (selected)="setTribe($event)"></app-tribe-choice>
  </fieldset>
  <fieldset>
    <div style="float:left;">
      <h2>Sources bibliographiques</h2>
        <mat-form-field>
          <mat-label>Auteur</mat-label>
          <input matInput type="text" [(ngModel)]="ref.author" name="refAuthor">
        </mat-form-field>
        <mat-form-field style="width:300px">
          <mat-label>Titre de la référence et édition</mat-label>
          <input matInput type="text" [(ngModel)]="ref.reference" required name="title" >
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Pages</mat-label>
          <input matInput type="text" [(ngModel)]="ref.pages" name="pages">
        </mat-form-field>
        <br>
          <h2>Citation</h2>
          <textarea rows="30" cols="80" name="content" [(ngModel)]="ref.content"></textarea>
      </div>

      <div style="display:inline;">
    <mat-tab-group animationDuration="0ms">

      <mat-tab label="Mythes">
        <app-tab [criteres]="criteres.myths" [tableClass]="this.halfWidth" [critereWidth]="this.fullWidth" (selected)="hasData('myths')"></app-tab>
      </mat-tab>

      <mat-tab label="Divinités">
            <mat-accordion>

              <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Symboles
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <app-tab [criteres]="criteres.gods" [tableClass]="this.halfWidth" [critereWidth]="this.halfWidth" (selected)="hasData('gods')"></app-tab>
                <app-tab [criteres]="criteres.equips" [tableClass]="this.halfWidth" [critereWidth]="this.halfWidth" (selected)="hasData('gods')"></app-tab>
              </mat-expansion-panel>
              <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Association(s)
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <app-tab [criteres]="criteres.godsAttr" [tableClass]="this.halfWidth" [critereWidth]="this.halfWidth" (selected)="hasData('gods')"></app-tab>
                <app-tab [criteres]="criteres.animals" [tableClass]="this.halfWidth" [critereWidth]="this.halfWidth" (selected)="hasData('gods')"></app-tab>
              </mat-expansion-panel>
              
            </mat-accordion>

      </mat-tab>
      
      <mat-tab label="Motifs">
        <app-tab [criteres]="criteres.motives" [tableClass]="this.halfWidth" [critereWidth]="this.fullWidth" (selected)="hasData('motives')"></app-tab>
      </mat-tab>
      <mat-tab label="Rituels">
        <app-tab [criteres]="criteres.rituals" [tableClass]="this.halfWidth" [critereWidth]="this.halfWidth" (selected)="hasData('rituals')"></app-tab>
        <app-tab [criteres]="criteres.returnRituals" [tableClass]="this.halfWidth" [critereWidth]="this.fullWidth" (selected)="hasData('rituals')"></app-tab>
      </mat-tab>
      <mat-tab label="Typologie">
        <app-tab [criteres]="criteres.fightType" [tableClass]="this.halfWidth" [critereWidth]="this.fullWidth"></app-tab>
      </mat-tab>

    </mat-tab-group>
    </div>
  </fieldset>
  <button mat-raised-button color="primary">Soumettre</button>
</form>
